<h2>Mediocre Rentals</h2>

<p>The Mediocre Rental company was found on late nights, and bad descions. Yet, somewhow we are still in business! Rental with us today! It might work out. </p>


{{#link-to 'index'}}Home{{/link-to}}
