<h1>Customer Service with half the effort!</h1>

<p>
  Should you need to contact Mediocre Rentals, we suggest you carve out a section of your day to devote to are new, and improved Phone Tree!
  Or if you wish to email, you can.  No gaurantees that we will see it.
</p>

<p>
  phone number: 502-321-4210
</p>

<p>
  email:something@this.com
</p>
{{#link-to 'index'}}Home{{/link-to}}
