<h2>More informatino about {{model.owner}}'s {{model.type}}</h2>

{{rental-detail rental=model}}
{{update-rental rental=model update="update" destroyRental ="destroyRental"}}
{{#link-to 'announcements'}}Announcements!{{/link-to}}
{{#link-to 'contact'}}Contact Us!{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'index'}}Home{{/link-to}}
